{% extends 'partials/_base.html' %}

{% load static %}

{% block content %}


    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{jobs.count}}+ Jobs Available</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Filter</h3>
                            <form action="{% url 'search' %}" method="GET">
                                    <div class="single_field " style="height: 65px;">
                                        <input type="text" name="search"  value = "{{search_query}}" placeholder="Search keyword">
                                    </div>
                                <div class="reset_btn p-2">
                                    <button  class="boxed-btn3 w-100 p-2 " value="Search" type="submit">Search</button>
                                </div>
                            </form>
                            <form action="{% url 'jobs' %}" method="GET">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide" name="location">
                                                <option value="">Location</option>
                                                {% for location in locations %}
                                                <option value="{{ location.id }}">{{ location.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide" name="category">
                                                <option value="">Category</option>
                                                {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide" name="experience">
                                                <option value="">Experience</option>
                                                {% for experience in experiences %}
                                                <option value="{{ experience.id }}">{{ experience.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide" name="jobtype">
                                                <option value="">Job type</option>
                                                {% for jobtype in jobtypes %}
                                                <option value="{{ jobtype.id }}">{{ jobtype.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide" name="qualification" >
                                                <option value="">Qualification</option>
                                                {% for qualification in qualifications %}
                                                <option value="{{ qualification.id }}">{{ qualification.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide" name="gender">
                                                <option value="">Gender</option>
                                                {% for gender in genders %}
                                                <option value="{{ gender.id }}">{{ gender.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="reset_btn p-2">
                                    <button  class="boxed-btn3 w-100 " type="submit">Filter</button>
                                </div>

                                
                            </form>
                        </div>

                        {%comment%} price range code here.....
                        {% comment %} <div class="range_wrap">
                            <label for="amount">Price range:</label>
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#7A838B; font-size: 14px; font-weight:400;">
                            </p>
                        </div> {% endcomment %}

                        <div class="reset_btn p-2">
                            <a href="{% url 'jobs' %}"><button  class="boxed-btn3 w-100" type="reset">Reset</button></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h4>Job Listing</h4>
                                </div>
                                {% comment %} <div class="col-md-6">
                                    <div class="serch_cat d-flex justify-content-end">
                                        <select>
                                            <option data-display="Most Recent">Most Recent</option>
                                            <option value="1">Marketer</option>
                                            <option value="2">Wordpress </option>
                                            <option value="4">Designer</option>
                                        </select>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">

                            {% for job in jobs %}

                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb p-0 ">
                                            <img class="mw-100 mh-100" src="{{job.image.url}}" alt="">
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{% url 'job_details' job.category.slug job.slug %}"><h4>{{job.name}}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i>{{job.location}}</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i>{{job.jobtype}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                            <a href="job_details.html" class="boxed-btn3">Apply Now</a>
                                        </div>
                                        <div class="date">
                                            <p>{{job.date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    {% comment %} <ul>
                                        <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                        <li><a href="#"><span>01</span></a></li>
                                        <li><a href="#"><span>02</span></a></li>
                                        <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                    </ul> {% endcomment %} 
                                    <ul>
                                        {% include "paginations.html" with page=jobs %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->

    <!-- footer start -->


{% endblock %}